body {
    font-family: 'Barlow', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
/*Reset y Box Model*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Fondo general con la imagen compartida*/
body {
    font-family: "Barlow", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-image: url("../Multimedia/fondo.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: blanchedalmond;
}
/*Encabezado*/
header{
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 2rem;
    text-align: center;
    border-bottom: 0.5rem solid #fc0;
}
header h1 {
    font-size: 2.5 rem;
    margin-bottom: 1rem;
}
header img {
    width: 40%;
    border: 0.5rem solid #fff;
    margin: 1rem auto;
    display: block;
}
/*menu de navegacion*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffcc00;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: all 0.3s ease;
}

/*Pseudo clases para enlaces*/
nav ul li a:link {color: #ffcc00;}
nav ul li a:visited {color: #ffcc00}
nav ul li a:hover {
    color: #fff;
    background-color: #003366;
    border: 0.2rem solid #ffcc00;
}
nav ul li a:active {color: #f00;}
/*Contenido Principlal*/
main, section, article {
    max-width: 80%;
    margin: 2rem auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border: 0.2rem solid #ccc;
    border-radius: 0.5rem;
    text-align: center;
}

/*Titulos*/
h2{
    font-size: 2rem;
    margin: 1rem 0;
    color: #003366;
    text-decoration: underline;
}
/*Parrafos*/
p{
    margin-bottom: 1rem;
    text-align: justify;
}
/*Pseudo-elementos*/
p::first-letter {
    font-size: 2rem;
    color: #f00;
}
p::before {
    content: "→ ";
    color: #003366;
}
p::after {
    content: " ←";
    color: #003366;
}
::section {
    background-color: yellow;
    color: black;
}
/*Imagenes Centradas*/
img{
    display: block;
    margin: 1rem auto;
    max-width: 80%;
    border: 0.3rem solid #003366;
    border-radius: 0.5rem;
}
/*Listas*/
ul {
    list-style: square;
    text-align: left;
    margin: 1rem auto;
    width: 60%;
}
/*Blockquote*/
blockquote {
    font-style: italic;
  border-left: 0.5rem solid #003366;
  padding-left: 1rem;
  margin: 1rem auto;
  background-color: #eef;
  width: 80%;
}
/*Footer*/
footer {
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-top: 0.5rem solid #ffcc00;
}